body{
    position: relative;
    max-width: 1200px;
    max-height: 800px;
    background-color: #97dff3;
    
}

header{
    height: 20%;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 2.5%;
}

#titulo {
    display: block;
    text-align: center;
    width: 100%;
    margin: 0 20%;
    font-size: 35px;
}
#derrota, #victoria{
    position: absolute;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: 35px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#derrota{
    color: red;
    
}
#victoria{
    color: rgb(49, 167, 49);
    
}
#icono{
    position: absolute;
    align-items: flex-start;
    margin: 2%;
}
#botones{
    padding: 6% 0;
}

#botonInicio{
    display: block;
    text-align:center;
    width: 55%;
    height: 77px;
    margin: 10% auto;
    color: aliceblue;
    background: #156191;
    border-radius: 24px;
    font-size: 40px;
    
}

#botonPalabraNueva{
    display: block;
    text-align: center;
    width: 50%;
    height: 50px;
    margin: 10% auto;
    color: #0A3871;
    background:rgb(75, 232, 148) ;
    border-radius: 24px;
    font-size: 25px;
}

#bloqueExclamacion{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#mainPalabraNueva{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ingresarPalabraNueva{
    margin: 25% 5%;
    width: 80%;
    padding: 5%;
    font-size: 25px;
}
#botonesNuevaPalabra{
    display: flex;
    flex-direction:  row;
}

#botonGuardarPalabraNueva{
    text-align:center;
    width: 350px;
    padding: 5%;
    margin: 10% 5%;
    color: aliceblue;
    background: #13666f;
    border-radius: 24px;
    font-size: 25px;
}

#ingresarPalabraNueva{
    background-color: rgb(144, 238, 192);
}
#botonCancelar{
    text-align: center;
    width: 350px;
    padding: 5%;
    margin: 10% 5%;
    color: #0A3871;
    background:rgb(60, 173, 207) ;
    border-radius: 24px;
    font-size: 25px;
}

#renglones, #letrasCorrectas{
    display:flex;
    flex-direction: row;
    margin: 0 10%;
    font-size: 35px;
}
#bloqueLetrasIncorrectas{
    height: 80px;
    
}
#letrasIncorrectas{
    display: inline-flex;
    flex-direction: row;
    max-width: 100%;
    margin: 0 auto;
    font-size: 35px;
}

#textoLetrasIncorrectas{
    text-align: center;
    margin: 1%  auto;
    font-size: 35px;
}

.renglonInvididual, .letraInvididual {
    margin: 0 auto;
}

.letraErrada{
    max-width: 100%;
    display: inline-flex;
    flex-direction: row;
    margin: 0 10px;
}

.invisible{
    opacity: 0;
}

.visible{
    opacity: 1;
}

#imagenRenglon{
   width: 80px;
}

#botones_ahorcado{
    text-align: center;
}

#botonNuevoJuego{
    text-align:center;
    width: 350px;
    padding: 2%;
    margin: 2%;
    color: aliceblue;
    background: #4e88ce;
    border-radius: 24px;
    font-size: 20px;
}

#botonDesistir{
    text-align: center;
    width: 350px;
    padding: 2%;
    margin: 2%;
    color: #0A3871;
    background:rgb(73, 212, 217) ;
    border-radius: 24px;
    font-size: 20px;
}

#juegoAhorcado {
    align-items: center;
    text-align: center;
}

#animacionAhorcado{
    height: 360px;
    width: 600px;
    margin: 0 auto;
}
#img1,#img2,#img3,#img4,#img5,#img6,#img7,#img8,#img9,#img10{
    position: relative;
    object-fit: contain;
    width: auto; 
    max-height: 100%;
}

#img1{
    
    left: 130px;
    
    
}
#img2{
    
    left: -110px;
    
}
#img3{
    
    top: -355px;
    left: -120px;
}
#img4{
    
    top: -310px;
    left: -130px;
}
#img5{
    
    top: -250px;
    left: -170px; 
}
#img6{
    
    top: -325px;
    left: 173px; 
}
#img7{
    
    top: -325px;
    left: 90px;
}
#img8{
    
    top: -255px;
    left: 82px;    
}
#img9{
    
    top: -195px;
    left: 38px; 
}
#img10{
    
    top: -195px;
    left: 30px; 
}



#yo{
    text-align: center;
    vertical-align: bottom;
    
}


@media only screen and (max-width: 768px) {
    header{
        padding: 3.5%;
    }
    
    #titulo{
        font-size: 30px;
    }
    
    #botones{
        padding: 15%;
    }

    #botonInicio{
        width: 75%;
        height: 77px;
        font-size:25px;
        margin-bottom: 100px;
    }

    #botonPalabraNueva{
        width: 70%;
        font-size:16px;
        margin-top: 100px;
    }

    #ingresarPalabraNueva{
        margin: 25% 5%;
        width: 80%;
        padding: 5%;
    }
    
    #botonGuardarPalabraNueva, #botonCancelar{
        font-size:18px;
        width: 175px;
        height: 50px;
        padding: 5px;
        margin: 10% 5%;
    }
    #derrota, #victoria{
        text-align: center;
        margin: 0 auto;
        max-width: 100%;
    }
    #imagenRenglon{
        width: 70px;
     }
    #yo{
        margin-top: 5%;
        text-align: center;
        vertical-align: bottom;
    }
}

@media only screen and (max-width: 425px) and (min-width: 375px){
    body{
        display: inline-block;
        
    }
    #imagenRenglon{
        width: 45px;
        height: 5px;
    }
}

@media only screen and (max-width: 375px) {
    header{
        padding: 5%;
    }
    #titulo{
        font-size: 25px;
    }
    #botones{
       
        padding: 15%;
    }
    #botonInicio{
        width: 75%;
        height: 77px;
        font-size:25px;
        margin-bottom: 100px;
    }


    #botonPalabraNueva{
        width: auto;
        font-size:16px;
        margin-top: 100px;
    }

    #botonesNuevaPalabra{
        display: flex;
        flex-direction:  column;
        margin: 10%;
        
    }
    #ingresarPalabraNueva{
        margin: 25% 5%;
        width: 80%;
        padding: 5%;
    }
    #botonGuardarPalabraNueva, #botonCancelar{
        font-size: 16px;
        width: 250px;
        height: 50px;
        padding: 5px;
        margin: 10% auto;
    }
    #imagenRenglon{
        width: 45px;
        height: 5px;
    }
    #yo{
      
        text-align: center;
        vertical-align: bottom;
    }
  }

  @media only screen and (max-width: 375px) {
    body{
        display: inline-block;
        
    }
    #imagenRenglon{
        width: 45px;
        height: 5px;
    } 
    #yo{
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
        vertical-align: bottom;
    }
  }